<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/students">Student Admission</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
        <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses/add">Add Course</a></li>
        <li class="nav-item"><a class="nav-link" href="/reports/course-wise">Student Count</a></li>
        <li class="nav-item"><a class="nav-link" href="/reports/total">Total Students</a></li>
      </ul>
    </div>
  </div>
</nav>